@{
    ViewData["Title"] = "National Student Clearinghouse Portal";
}

<div class="submission-container">
    <div>
        <p>
            Marian university is a participant with the National Student Clearinghouse and is
            eligible for the Student Self-Service program. This program allows Marian students
            to view their enrollment histories and enrollment verifications sent to student
            service providers, like health insurers, or print enrollment certificates to provide
            to these organizations themselves, all at no charge. Students can also view deferments
            sent to their lenders, as well as link to real-time information on their student
            loans.
        </p>
        <p>
            Please acknowledge that by clicking the below button, you will be taken to the Student Clearinghouse website. 
        </p>
    </div>
    <br />
    <div>
        <a href="https://secure.studentclearinghouse.org/shibds/faces/welcome" class="btn btn-primary">Click Here to Continue</a>
    </div>
</div>
